.category {
  width: 90%;
  margin: 10px auto 0 auto;
  padding: 10px;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.movieCard {
  width: 280px;
  height: 420px;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-size: 2rem;
}

.movieCard:hover {
  filter: brightness(0.5);
}

.displayNone {
  display: none;
}
