.movieCard {
  width: 280px;
  height: 420px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
}

.displayNone {
  display: none;
}
