@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'SUITE-Regular';
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.logo {
  font-size: 6.5rem;
  margin-top: 50px;
  font-family: 'LOTTERIACHAB';
  font-weight: 400;
}

.searchText {
  width: 1000px;
  height: 60px;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 25px;
  font-size: 2rem;
  font-family: 'SUITE-Regular';
}

.searchButton {
  border: 1px solid black;
  width: 100px;
  height: 60px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 5px;
  font-size: 2rem;
  font-family: 'SUITE-Regular';
}

.chart > h2 {
  font-size: 3.5rem;
}
