@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'SUITE-Regular';
}

body {
  background-color: rgb(90, 178, 255);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.searchText {
  width: 1000px;
  height: 60px;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 25px;
  font-size: 2rem;
  font-family: 'SUITE-Regular';
}

.searchButton {
  border: 1px solid black;
  width: 100px;
  height: 60px;
  border-radius: 15px;
  background-color: transparent;
  margin-left: 5px;
  font-size: 2rem;
  font-family: 'SUITE-Regular';
}

.checkbox {
  font-size: 18px;
}

#defaultCheckbox {
  display: none;
}

.checkboxIcon {
  margin-right: 10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid black;
  position: relative;
}

#defaultCheckbox:checked + label .checkboxIcon::after {
  content: '✔';
  position: absolute;
  top: -10px;
  font-size: 25px;
}

.checkbox label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart > h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

/* wave */
.wave {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 400px;
  background-color: white;
}

.logo {
  font-size: 6.5rem;
  margin-top: 50px;
  font-family: 'LOTTERIACHAB';
  font-weight: 400;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate3d(-50%, 0, 0px);
  z-index: 999;
}

.wave1 {
  width: 500vw;
  height: 500vw;
  position: absolute;
  top: 65%;
  left: -200%;
  background-color: rgb(160, 222, 255);
  border-radius: 47%;
  animation: move 6s infinite linear;
}

.wave2 {
  width: 500vw;
  height: 500vw;
  position: absolute;
  top: 70%;
  left: -200%;
  background-color: rgb(90, 178, 255);
  border-radius: 49%;
  animation: move 6.5s infinite linear;
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}
